// Place all the styles related to the Gifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.gift {
  background-image: asset_url("present.png");
  background-size: 650px 650px;
  width: 650px;
  height: 650px;

}

.messages{
  display: grid;
  grid-template-rows: 350px 50px 50px 50px;
}

.message{
  margin-left: auto;
  margin-right: auto;
  width: 56%;
  height: 10%;
  align-self: center;
  transform: translate(-38px);
}