// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//

.delibird {
  background-image: url("definitely_not_delibird.png");
  background-size: 500px 500px;
  width: 500px;
  height: 500px;
  position: fixed;
}

.present {
  background-image: url("regalino.PNG");
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
  transform: translate(380%, 50%);

}

