// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//

@font-face {
  font-family: 'pokemon-pixel-font';
  src: url('pokemon_pixel_font.ttf') format('ttf'),
       url('pokemon_pixel_font.woff') format('woff'),
       url('pokemon_pixel_font.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.delibird {
  background-image: asset_url("definitely_not_delibird.png");
  background-size: 500px 500px;
  width: 500px;
  height: 500px;
}

.present {
  background-image: asset_url("present.png");
  background-size: 130px 130px;
  width: 130px;
  height: 130px;
  transform: translate(250%, 20%);
}

.battle-buttons {
  display: grid;
  grid-template-columns: 180px 180px;
  grid-column-gap: 15px;
  justify-content:center;
  align-items:center;
  height: 150px;
  width: 400px;
  align-self: center;
}

.battle-text {
  align-self: center;
}

.battle-system {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  width: 500px
}


